html, body {
  background: #303030;
  color: #555555;
  text-align: center;
  font: normal 22px Arial, Helvetica, sans-serif;

  line-height: 1.6em;
  margin: auto;
}

.section {
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-bottom: 25px;
  
}

.box-1 {
  background-color: #bed7f9;
  color: #303030;
  padding-top: 0;
  padding-bottom:25px;
  font-size: smaller;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  border-top-left-radius: 1000000px;
  border-top-right-radius:1000000px;
}

.button {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: #303030; /* black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  display: inline-block;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #303030; /* black */
  color: #bed7f9;
}

.img {
  margin: auto;
  border-radius:25px;
  border-width:5px;
  border-color:black;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 95%;
}
